.transactionTabTitle {
    margin-top: 50px;
    text-align: center;
    background-color: #7bba13;
    color: #f5f5f5;
}

.paiementForm {
    margin: 20px;
    padding: 25px;
    background-color: #eaeaea;
    text-align: center;
}
