<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>PMD Connections</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/transfer/connection.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div class="paiementTab">
            <h3>Add Connection</h3>
            <div class="paiementForm text-center">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-sm-4">
                        <div class="form-outline">
                            <input class="form-control" id="email" type="text"/>
                            <label class="form-label" for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-outline">
                            <input class="form-control" id="nickname" type="text"/>
                            <label class="form-label" for="nickname">Nickname</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" type="submit">Add connection</button>
                    </div>
                </form>
            </div>
        </div>
        <h3>My Connections</h3>
        <div>
            <div>
                <div th:if="${connections.isEmpty()}">
                    <h5>No connections yet!</h5>
                </div>
                <div th:unless="${connections.isEmpty()}">
                    <table class="table table-striped">
                        <thead>
                        <tr class="transactionTabTitle">
                            <th>Connections</th>
                            <th>Nickname</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="connection: ${connections}">
                            <td th:text="${connection.userConnected.email}"/>
                            <td th:text="${connection.nickname}"/>
                            <td><a th:href="@{/connections/delete/{id}(id=${connection.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/connections(page=1)}">&#10218</a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/connections(page=${currentPage - 1})}">&#10216</a>
                                    </li>
                                    <div th:each="pageNumber: ${pageNumbers}">
                                        <li class="page-item"
                                            th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                                            <a class="page-link" th:href="@{/connections(page=${pageNumber})}"
                                               th:text="${pageNumber}"></a>
                                        </li>
                                    </div>
                                    <li class="page-item"
                                        th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/connections(page=${currentPage + 1})}">&#10217</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/connections(page=${totalPage})}">&#10219</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>