<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Deposit</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/profile}" href="#">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Deposit</li>
                </ol>
            </nav>
        </div>
        <h5>Deposit</h5>
        <div>
            <p class="d-inline">Solde :</p>
            <p class="d-inline" th:text="${solde}"></p>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-success">Deposit add correctly.</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">An error has occurred. Please try later.</div>
        </div>
            <form
                    class="row gx-3 gy-2 align-items-center"
                    method="post"
                    role="form"
                    th:action="@{/profile/deposit}"
                    th:object="${depositForm}"
            >
                <div class="col-sm-3">
                    <label class="form-label" for="amount"></label>
                    <input
                            class="form-control"
                            id="amount"
                            name="amount"
                            th:field="*{amount}"
                            placeholder="Amount"
                            type="number"/>

                    <p class="text-danger" th:errors="*{amount}"
                       th:if="${#fields.hasErrors('amount')}">
                    </p>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-success" type="submit">Deposit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>