<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay My Buddy</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div class="text-center">
            <img alt="paymybuddy" class="img-fluid" src="" th:src="@{/img/mainlogo.png}">
            <div class="mainTitle display-6">
                <p>
                    <strong>We make your money move. Easy!!!</strong>
                </p>
            </div>
            <div class="messageUserNotRegistered" sec:authorize="isAnonymous()">
                <div class="mainBtn">
                    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                </div>
                <div class="mainBtn">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>