<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Profile</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/profile.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <h1>Profile</h1>
        <div class="container" th:if="${user}">
            <p th:text="${user.getEmail()}"></p>
            <p th:text="${user.getBalance()}"></p>
        </div>
        <div class="container" th:unless="${user}">
            <p>Not logged in</p>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>