<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Profile</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/profile.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div class="connectionTab">
            <div>
                <h5>Solde</h5>
                <p th:text="${solde}"/>
            </div>

            <h5>Add Connection</h5>
            <div th:if="${param.success}">
                <div class="alert alert-success">Connection add correctly.</div>
            </div>
            <div class="connectionForm">
                <form
                        class="row gx-3 gy-2 align-items-center"
                        method="post"
                        role="form"
                        th:action="@{/profile}"
                        th:object="${connectionForm}"
                >
                    <div class="col-sm-3">
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Email"
                               th:field="*{email}"
                               type="text"
                        />
                        <p class="text-danger" th:errors="*{email}"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control"
                               id="nickname"
                               name="nickname"
                               placeholder="Nickname"
                               th:field="*{nickname}"
                               type="text"
                        />
                        <p class="text-danger" th:errors="*{nickname}"
                           th:if="${#fields.hasErrors('nickname')}">
                        </p>
                        </div>
                    <div class="col-sm-3">
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <h5>My Connections</h5>
        <div>
            <div>
                <div th:if="${connections.isEmpty()}">
                    <p>No connections yet!</p>
                </div>
                <div th:unless="${connections.isEmpty()}">
                    <table class="table table-striped">
                        <tbody class="text-center">
                        <tr th:each="connection: ${connections}">
                            <td th:text="${connection.userConnected.email}"/>
                            <td th:text="${connection.nickname}"/>
                            <td><a th:href="@{/profile/delete/{id}(id=${connection.id})}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation">
                            <div>
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/profile(page=1)}">&#10218</a>
                                    </li>
                                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/profile(page=${currentPage - 1})}">&#10216</a>
                                    </li>
                                    <div th:each="pageNumber: ${pageNumbers}">
                                        <li class="page-item"
                                            th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                                            <a class="page-link" th:href="@{/profile(page=${pageNumber})}"
                                               th:text="${pageNumber}"></a>
                                        </li>
                                    </div>
                                    <li class="page-item"
                                        th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/profile(page=${currentPage + 1})}">&#10217</a>
                                    </li>
                                    <li class="page-item"
                                        th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        <a class="page-link" th:href="@{/profile(page=${totalPage})}">&#10219</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>