<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>PMD Transfer</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/transfer.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div class="paiementTab">
            <h3>Send Money
                <span class="badge bg-secondary" th:text="'Solde: ' + ${user.balance}/100 + '€'"></span>
            </h3>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="page-link" th:href="@{/connections}">
                    <button type="button" class="btn btn-primary">Add Connection</button>
                </a>
            </div>
            <div class="paiementForm text-center">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                        <label class="visually-hidden">Preference</label>
                        <label>
                            <select class="select">
                                <option value="0">Select a connection</option>
                                <div th:each="connection: ${connections}">
                                    <option th:value="${connection.id}" th:text="${connection.nickname}"></option>
                                </div>
                            </select>
                        </label>
                    </div>
                    <div class="col-auto">
                        <div class="form-outline">
                            <input type="number" id="typeNumber" class="form-control" />
                            <label class="form-label" for="typeNumber">Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-outline">
                            <input type="text" id="typeText" class="form-control" />
                            <label class="form-label" for="typeText">Description</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Pay</button>
                    </div>
                </form>
            </div>
        </div>
        <h3>My Transactions</h3>
        <table class="table table-striped">
            <thead>
                <tr class="transactionTabTitle">
                    <th>Connections</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.connection.nickname}"/>
                    <td th:text="${transaction.description}"/>
                    <td th:text="${transaction.amount} + '€'"/>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <div>
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/transfer(page=1)}">&#10218</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/transfer(page=${currentPage - 1})}">&#10216</a>
                        </li>
                        <div th:each="pageNumber: ${pageNumbers}">
                            <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                                <a class="page-link" th:href="@{/transfer(page=${pageNumber})}" th:text="${pageNumber}"></a>
                            </li>
                        </div>

                        <li class="page-item" th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/transfer(page=${currentPage + 1})}">&#10217</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/transfer(page=${totalPage})}">&#10219</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>