<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Transfer</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/transfer.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Transfert</li>
                </ol>
            </nav>
        </div>
        <div class="paiementTab">
            <h5 class="d-inline">Send Money
                <span class="badge bg-secondary" th:text="${solde}"></span>
            </h5>
            <a class="page-link d-inline" th:href="@{/profile}">
                <button class="btn btn-primary" type="button">Add connection</button>
            </a>
            <div class="paiementForm text-center">
                <div>
                    <div th:if="${transactionForm.connections.isEmpty()}">
                        <h5>No connections yet!</h5>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-success">Transaction added correctly.</div>
                    </div>
                    <div th:unless="${transactionForm.connections.isEmpty()}">
                        <form class="row gy-2 gx-3 align-items-center"
                              method="post"
                              role="form"
                              th:action="@{/transfer}"
                              th:object="${transactionForm}"
                        >
                            <div class="col-auto">
                                <select class="form-control"
                                        id="connectionId"
                                        th:field="*{connectionId}">
                                    <option value="0">Select a connection</option>
                                    <div th:each="connection: *{connections}">
                                        <option th:text="${connection.nickname}"
                                                th:value="${connection.id}"></option>
                                    </div>
                                </select>
                                <p class="text-danger" th:errors="*{connectionId}"
                                   th:if="${#fields.hasErrors('connectionId')}">
                                </p>
                            </div>
                            <div class="col-auto">
                                <div class="form-outline">
                                    <input class="form-control"
                                           id="amount"
                                           placeholder="Amount*"
                                           th:field="*{amount}"
                                           type="number"
                                    />
                                </div>
                                <p class="text-danger" th:errors="*{amount}"
                                   th:if="${#fields.hasErrors('amount')}">
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-outline">
                                    <input class="form-control"
                                           id="description"
                                           placeholder="Description*"
                                           th:field="*{description}"
                                           type="text"
                                    />
                                </div>
                                <p class="text-danger" th:errors="*{description}"
                                   th:if="${#fields.hasErrors('description')}">
                                </p>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Pay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h5>My Transactions</h5>
        <div>
            <div th:if="${transactions.isEmpty()}">
                <h5>No transactions yet!</h5>
            </div>
            <div th:unless="${transactions.isEmpty()}">
                <table class="table table-striped">
                    <thead>
                    <tr class="formTabTitle">
                        <th>Connections</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="transaction: ${transactions}">
                        <td th:text="${transaction.connection.nickname}"/>
                        <td th:text="${transaction.description}"/>
                        <td th:text="${transaction.amount} + '€'"/>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <div>
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/transfer(page=1)}">&#10218</a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/transfer(page=${currentPage - 1})}">&#10216</a>
                                </li>
                                <div th:each="pageNumber: ${pageNumbers}">
                                    <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                                        <a class="page-link" th:href="@{/transfer(page=${pageNumber})}"
                                           th:text="${pageNumber}"></a>
                                    </li>
                                </div>

                                <li class="page-item" th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/transfer(page=${currentPage + 1})}">&#10217</a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{/transfer(page=${totalPage})}">&#10219</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>