<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Withadrawal</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/profile}" href="#">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Withdrawal</li>
                </ol>
            </nav>
        </div>
        <h5>Withadrawal</h5>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>