<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD Withdrawal</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" th:href="@{/profile}">Profile</a></li>
                    <li aria-current="page" class="breadcrumb-item active">Withdrawal</li>
                </ol>
            </nav>
        </div>
        <h5>Withdrawal</h5>
        <div>
            <p class="d-inline">Solde :</p>
            <p class="d-inline" th:text="${solde}"></p>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-success">Withdrawal added successfully.</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">An error has occurred. Please try again.</div>
        </div>
        <form
                class="row gx-3 gy-2 align-items-center"
                method="post"
                role="form"
                th:action="@{/profile/withdrawal}"
                th:object="${withdrawalForm}"
        >
            <div class="col-sm-3">
                <label class="form-label" for="amount"></label>
                <input
                        class="form-control"
                        id="amount"
                        name="amount"
                        placeholder="Amount"
                        step="0.01"
                        th:field="*{amount}"
                        type="number"
                />

                <p class="text-danger" th:errors="*{amount}"
                   th:if="${#fields.hasErrors('amount')}">
                </p>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success" type="submit">Withdrawal</button>
            </div>
        </form>
    </div>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>